<h1>殴られ屋さん一覧</h1>

<% [:notice, :error].each do |x|%><%=content_tag(:p, flash[x], 'class'=>x) if flash[x]%><% end %>
<div>
<%= link_to t('New %<name>s') % {name: Dojo.model_name.human}, [:new, :dojo] %>
</div>

<table>
  <tr>
    <th><%= Dojo.human_attribute_name(:rank) %></th>
    <th><%= Dojo.human_attribute_name(:level) %></th>
    <!--<th><%= Dojo.human_attribute_name(:mbgaid) %></th>-->
    <th><%= Dojo.human_attribute_name(:personality) %></th>
    <th><%= Dojo.human_attribute_name(:leader) %></th>
    <th><%= Dojo.human_attribute_name(:force) %></th>
    <th></th>
    <th><%= Dojo.human_attribute_name(:description) %></th>
    <th></th>
    <th></th>
  </tr>

<% @dojos.each do |dojo| %>
  <tr>
    <%= content_tag(:td, dojo.rank.name, 'class'=>'rank-'+dojo.rank.name) %>
    <td><%= dojo.level %></td>
    <!--<td><%= dojo.mbgaid %></td>-->
    <%= content_tag(:td, short_personality(dojo.personality), 'class'=>dojo.personality) %>
    <td><%= dojo.leader %></td>
    <td class="force"><%= dojo.force %></td>
    <td class="operation"><%= link_to_dojo t('Visit'), dojo, target: '_blank' %></td>
    <td class="description"><%= dojo.description %></td>
    <td class="operation"><%= link_to t('Edit'), [:edit, dojo] %></td>
    <td class="operation"><%= link_to t('Destroy'), dojo, confirm: t('Are you sure?'), method: :delete %></td>
  </tr>
<% end %>
</table>
<%= paginate @dojos %>
